.idea/
node_modules/
build/
abi-out/
coverage/
coverage.json
coverageEnv/
scTopics
allFiredEvents

.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

*.out
